<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">

    <item android:id="@+id/profile"
          android:title="Profile"
          android:icon="@drawable/ic_person"/>

    <item android:id="@+id/myserice"
          android:title="My Service"
          android:icon="@drawable/ic_services"/>

    <item android:id="@+id/myexchange"
          android:title="My Exchange"
          android:icon="@drawable/exe_red"/>

    <item android:id="@+id/logout"
          android:title="Logout"
          android:icon="@drawable/ic_logout"/>

</menu>